*{
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;

    font-family: 'Roboto', sans-serif;
  
}
.container{
      background-color: black;
      width:100%;
      height:100vh;
}
.lo{
    display: flex;
}
.navbar{
    /* border:outset; */
    background-color:  black;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin
}
.logo{
    width: 50px;
    margin: 10px;
}
p{
    color:rgb(235, 99, 49);
    margin-top: 21px;
    font-size: 20px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navbar input{
    border-radius: 20px;
    width: 400px;
    height: 40px;
    border: none;
    text-indent:60px;
    margin-top: 15px;
    background-color: rgb(14, 13, 13);

}
button{
    width: 70px;
    border-radius: 15px;
    border: none;
    padding:7px;
    margin: 19px 15px 0px 0px;


}
.sea input{
    position: relative;
    color:white;
}
.sea i{
    position:absolute;
    top: 28px;
    left:570px;
    z-index:1;
}
.loginbtn:hover{
    background-color: orangered;
    color: white;
    cursor: pointer;

}
.main-container{
    display: flex;

}
.main-container .side{
    width: 25vw;
    height: 690px;
    background-color: rgb(14, 13, 13);
    margin: 10px;
    border-radius: 8px;
}
.side ul{
    display: flex;
    padding: 50px;
    flex-direction: column;
    justify-content: space-between;
}
.side ul .fa{
    width: 60px;
    height: 60px;
}

.main{
    width: 75vw;
     height: 687px;
    background-color: rgb(14, 13, 13);
    margin: 10px;
    border-radius: 8px;
}
.sub-body{
    background-color: orangered;
    width: 160px;
    padding: 3px;
    height: 180px;
    margin: 3px 10px 0px 0px;
    border-radius: 5px;
   
}
.sub-content img{
   width:160px;
   height: 180px;
   border-radius: 5px;

}
.circle{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 20px;
    padding: 3px;
}
.song-list{
    display: flex;
    margin: 10px 0px 0px 10px;
}


.img{
    width:150px;
    border-radius: 50%;
    height: 150px;
}

.artist{
    text-align: center;
    margin-top: 0px;
    font-size: 15px;
}
.song-list{
    display: flex;
    justify-content: space-around;
}